/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace view "org.bigbluebutton.top.view.*";
@namespace ui "org.bigbluebutton.view.ui.*";
@namespace skins "org.bigbluebutton.view.skins.*";
@namespace common "org.bigbluebutton.view.navigation.pages.common.*";

s|List.cameraProfilesListStyle
{
	verticalScrollPolicy: off;
}

s|Button {
	fontWeight: normal;	
}

s|Group.videoTextFieldStyle
{
	color: #FFFFFF;
}

s|ToggleSwitch
{
	chromeColor:#F4F4F4;
	accentColor:#43434B;
	skinClass:    ClassReference("spark.skins.mobile.ToggleSwitchSkin");
}

s|Button.sendButtonStyle
{
	backgroundColor:#FFFFFF;
	onClickBackgroundColor:#DBDBDB;
	skinClass: ClassReference("org.bigbluebutton.view.skins.SendMsgBtnSkin");
}

s|Button.guestResponseButtonStyle
{
	height: 50;
	weight: 0.1;
	radiusX:2;
	radiusY:2;
	backgroundColor:#F4F4F4;
	onClickBackgroundColor:#DBDBDB;
	strokeColor: #CCCCCC;
	strokeWeight: 0.2;
	skinClass: ClassReference("org.bigbluebutton.view.skins.GuestResponseBtnSkin");
}

s|SkinnableContainer.topToolBarStyle
{
	gradientColorTop: #4A4C58;
	gradientColorBottom: #43434B;
	skinClass: ClassReference("org.bigbluebutton.view.skins.TopToolBarSkin");
}

ui|NavigationButton
{
	backgroundColor: #F4F4F4;
	strokeColor: #CCCCCC;
	selectedBackgroundColor: #DBDBDB;
	skinClass: ClassReference("org.bigbluebutton.view.skins.NavigationButtonSkin");
}

s|Label.chatTimeColor
{
	color: #C3C3C3;
}

s|Button.logoutButtonStyle
{
	backgroundColor: #3385FF;
	textColor:#FFFFFF;
}

s|Button.userSettingsButtonStyle
{	
	onClickBackgroundColor:#DBDBDB;
	skinClass: ClassReference("org.bigbluebutton.view.skins.UserSettingsParticipantBtnSkin");
}

s|Button.userSettingsRaseHandButtonStyle,s|Button.userSettingsUserNameStyle
{
	textColor:#777777;
	backgroundColor: #F4F4F4;
}


s|Button.pushToTalkStyle
{
	backgroundColor:#3385FF;
	onClickBackgroundColor:#DBDBDB;
	skinClass: ClassReference("org.bigbluebutton.view.skins.PushToTalkBtnSkin");
	labelTextAlign:left;
	menuBackgroundColor:#F4F4F4;
}


s|Button.videoAudioSettingStyle
{
	backgroundColor:#FFFFFF;
	onClickBackgroundColor:#DBDBDB;
	skinClass: ClassReference("org.bigbluebutton.view.skins.VideoAudioSettingsBtnSkin");
	labelTextAlign:left;
}

s|Label.pageNameStyle
{
	textAlign: center;
	color: #FFFFFF;
}

s|Label.mood
{
	textAlign: center;
}

s|Label.participantStatusStyle, s|Label.roomUrlStyle
{
	color: #999999;
}

s|Button.topButtonStyle
{
	gradientColorTop:#4A4C58;
	gradientColorBottom:#43434B;
	selectedGradientColorTop:#454852;
	selectedGradientColorBottom:#393942;
	skinClass: ClassReference("org.bigbluebutton.view.skins.TopButtonSkin");
}

s|Button.newMessagesButtonStyle
{
	fillColor: #777777;
	textColor: #FFFFFF;
	skinClass: ClassReference("org.bigbluebutton.view.skins.NewMessagesButtonSkin");
}

s|RadioButton
{
	skinClass: ClassReference("org.bigbluebutton.view.skins.RadioButtonSkin");
}

s|Image.bbbLogoStyle
{
	skinClass: ClassReference("org.bigbluebutton.view.skins.BBBLogoSkin");
}

s|Image.iconStyle, s|Image.userDetailIconStyle
{
	skinClass: ClassReference("org.bigbluebutton.view.skins.IconSkin");
}


s|View.audioSettingsStyle
{
	greenColor: #87F316;
	yellowColor: #F7CC46;
	redColor: #FC0914;
}

s|View.userDetailViewStyle
{
	bgColor:#F4F4F4;
}

s|SkinnableContainer.containerStyle
{
	fillColor: #F4F4F4;
	skinClass: ClassReference("org.bigbluebutton.view.skins.ProfileViewContainerSkin");
}

global
{
	font-family: Myriad Pro;
	vertical-align: middle;
	font-weight: normal;
	text-align: left;
	content-background-color: #FFFFFF;
	symbol-color: #F6F2F2;
	chrome-color: #0C0B0B;
	color: #777777;
}

s|Image.bigbbbLogoStyle
{
	skinClass: ClassReference("org.bigbluebutton.view.skins.BBBLogoSkin");
}

@media (application-dpi: 160) {
	
	s|Application.mainshellStyle
	{
		toolBarHeight:52;
		bottomToolBarHeight:64;
	}
	
	s|View.participantsViewStyle
	{
		toolBarHeight:52;
		itemPaddingLeft:6;
		itemPaddingRight:6;
	}
	
	s|Button.recordingStatusIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_fiber_manual_record_black_48dip.png");
	}
	
	s|Button.videoAudioSettingStyle
	{
		height: 64;
		weight: 0.1;
		radiusX:2;
		radiusY:2;
		imageAlign:10;
		labelPaddingLeft:6;
	}
	
	s|Button.pushToTalkStyle
	{
		EllipseHeight: 100;
		EllipseWidth: 100;
		bottomToolBarHeight:64;
	}
	
	s|Label.cameraSettingStyle,s|Label.audioSettingStyle, s|ItemRenderer.cameraItemRenderer
	{
		paddingTop:16;
		paddingBottom:16;
	}
	
	s|Label.userSettingsStyle
	{
		paddingLeft:6;
		paddingTop:12;
		paddingBottom:12;
	}
	
	s|Label.chatNameTimeStyle
	{
		paddingLeft:6;
		paddingRight:6;
		paddingBottom:3;
		paddingTop:3;
	}
	
	s|RichEditableText.msgTextStyle
	{
		paddingLeft:12;
		paddingRight:12;
		paddingBottom:12;
	}
	
	s|Label.disconnectMsgStyle
	{
		paddingBottom:40;
		paddingTop:40;
	}
	
	s|Button.allowButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_thumb_up_black_32dip.png");
	}
	
	s|Button.denyButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_thumb_down_black_32dip.png");
	}
	
	s|Button.cameraSettingsStartButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_videocam_black_32dip.png");
	}
	
	s|Button.cameraSettingsRotateButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_rotate_right_black_32dip.png");
	}
	
	s|Button.cameraSettingsSwapButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_switch_video_black_32dip.png");
	}
	
	s|View.cameraSettingsViewStyle
	{
		lineWeight: 2;
		topPadding: 24;
		weight:0.1;
	}
	
	s|Label.chatRoomLabelStyle,s|Label.selectParticipantLabelStyle, s|Label.RoomLabelStyle, s|Label.selectParticipantLabelStyle
	{
		paddingLeft:6;
		paddingTop:20;
		paddingBottom:20;
	}
	
	s|TextInput.msgInputBoxStyle
	{
		paddingRight:40;
	}
	
	s|Button.sendButtonStyle
	{
		topAlign:2;
		bottomAlign:2;
		rightAlign:2;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_send_black_32dip.png");
	}
	
	s|Label.pageNameStyle
	{
		fontSize:18;
	}
	
	.contentFontSize
	{
		fontSize:16;
	}
	
	.subContentFontSize
	{
		fontSize:14;
	}
	
	.dateAndTimeFontSize
	{
		fontSize:12;
	}
	
	s|ItemRenderer.participantItemStyle, s|ItemRenderer.roomItemStyle
	{
		itemHeight:64;
		lineColor: #F2F2F2;
		lineWeight:0.5;
		itemPaddingLeft:6;
		itemPaddingRight:6;
	}
	
	s|ItemRenderer.cameraProfileItemStyle
	{
		itemHeight:48;
		lineColor: #F2F2F2;
		lineWeight:0.5;
		itemPaddingLeft:6;
		itemPaddingRight:6;
	}
	
	s|ItemRenderer.chatRoomItemStyle, s|View.lockSettingsStyle, s|View.audioSettingsStyle, s|Button.videoAudioSettingStyle
	{
		lineColor: #F2F2F2;
		lineWeight:0.5;
	}
	
	s|Group.videoTextFieldStyle
	{
		fontSize:10;
		indent: 20;
		loadingImageSource: "assets/res/drawable-mdpi/videoLoading.png";
	}
	
	s|View.chatViewStyle
	{
		chatInputTextHeight:48;
		btnWidth:40;
	}
	
	s|SkinnableContainer.containerStyle
	{
		weight: 0.1;
		radiusX: 4;
		radiusY: 4;
		top: 5;
		bottom: 5;
	}
	
	s|Label.userDetailsNameStyle
	{
		paddingTop: 20;
		paddingBottom:0;
	}
	
	s|Label.userDetailsStatusStyle
	{
		paddingTop: 0;
		paddingBottom:20;
	}
	
	ui|NavigationButton
	{
		strokeWeight: 0.1;
	}
	
	ui|NavigationButton.presentationBtnStyle
	{	
		backgroundImage: Embed(source="assets/res/drawable-mdpi/1477445563_device-board-presentation-content-chart-glyph_32dip.png");	
	}
	
	ui|NavigationButton.chatBtnStyle
	{	
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_question_answer_black_32dip.png");
	}
	
	ui|NavigationButton.videochatBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_videocam_black_32dip.png");
	}
	
	ui|NavigationButton.participantsBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_supervisor_account_black_32dip.png");	
	}
	
	ui|NavigationButton.deskshareBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_desktop_windows_black_32dip.png");
	}

	s|Button.userSettingsButtonStyle
	{
		height: 50; 
		weight: 0.1;
		radiusX:2;
		radiusY:2;
	}
	
	s|Button.profileSettingsButtonStyle
	{
		navigateImage: Embed(source="assets/res/drawable-mdpi/ic_keyboard_arrow_right_black_32dip.png");
	}
	
	s|Button.cameraSettingsButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_videocam_black_32dip.png");
	}
	
	s|Button.audioSettingsButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_mic_none_black_32dip.png");
	}
	
	s|Button.audioSettingsShareMicButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_mic_none_black_32dip.png");
	}
	
	s|Button.chatButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_question_answer_black_32dip.png");
	}
	
	s|Button.MuteButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_mic_off_black_32dip.png");
	}
	
	s|Button.QuitButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_exit_to_app_black_32dip.png");
	}
	
	s|Button.lockParticipantsButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_lock_outline_black_32dip.png");
	}
	
	s|Button.changeStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_sentiment_satisfied_black_32dip.png");
	}
	
	s|Button.clearButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_close_black_32dip.png");
	}
	
	s|Button.lowerAllHandsButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_pan_tool_black_32dip.png");
	}
	
	s|Button.raiseHandButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_pan_tool_black_32dip.png");
	}
	
	s|Button.audioSettingsListenOnlyButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_volume_up_black_32dip.png");
	}
	
	s|Button.topButtonStyle
	{
		width: 48;
		height: 48;
	}
	
	s|Button.profileButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_settings_black_48dip.png");
	}
	
	s|Button.backButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_keyboard_arrow_left_black_48dip.png");
	}
	
	s|Button.micButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_mic_black_48dip.png");
		mutedBackgroundImage: Embed(source="assets/res/drawable-mdpi/ic_mic_off_black_48dip.png");
	}
	
	s|Button.videoButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_videocam_black_48dip.png");
	}
	
	s|Image.iconStyle
	{
		width: 32;
		height: 32;
	}
	
	s|Image.cameraIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_videocam_black_32dip.png");
	}
	
	s|Image.userDetailIconStyle
	{
		width: 72;
		height: 72;
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_account_circle_black_72dip.png");
	}
	
	s|Image.micIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_mic_none_black_32dip.png");
	}
	
	s|Image.speakingMicIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_mic_black_32dip.png");
	}
	
	s|Image.lockIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_lock_outline_black_32dip.png");
	}
	
	s|Image.listenOnlyIconStyle, s|Button.listenOnlyStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_hearing_black_32dip.png");
	}
	
	s|Image.micOffIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_mic_off_black_32dip.png");
	}
	
	s|Image.soundIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_volume_up_black_32dip.png");
	}
	
	s|Image.moderatorIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_supervisor_account_black_32dip.png");
	}
	
	s|Image.presentationIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/1477445563_device-board-presentation-content-chart-glyph_32dip.png");
	}
	
	s|Image.handIconStyle, s|Button.handStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_pan_tool_black_32dip.png");
	}
	
	s|Image.agreeIconStyle, s|Button.agreeStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_thumb_up_black_32dip.png");
	}
	
	s|Image.disagreeIconStyle, s|Button.disagreeStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_thumb_down_black_32dip.png");
	}
	
	s|Image.speakLouderIconStyle, s|Button.speakLouderStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_volume_up_black_32dip.png");
	}
	
	s|Image.speakSofterIconStyle, s|Button.speakSofterStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_volume_down_black_32dip.png");
	}
	
	s|Image.speakFasterIconStyle, s|Button.speakFasterStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_fast_forward_black_32dip.png");
	}
	
	s|Image.speakSlowerIconStyle, s|Button.speakSlowerStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_fast_rewind_black_32dip.png");
	}
	
	s|Image.beRightBackIconStyle, s|Button.beRightBackStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_access_time_black_32dip.png");
	}
	
	s|Image.laughterIconStyle, s|Button.laughterStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_sentiment_satisfied_black_32dip.png");
	}
	
	s|Image.sadIconStyle, s|Button.sadStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_sentiment_dissatisfied_black_32dip.png");
	}
	
	s|Image.userIconStyle, s|Button.noStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_account_circle_black_32dip.png");
	}
	
	s|Image.arrowRightStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-mdpi/ic_keyboard_arrow_right_black_32dip.png");
	}
	
	s|Button.newMessagesButtonStyle
	{
		width: 38;
		height: 30;
		radiusX: 4;
		radiusY: 4;
		fontSize:12;
	}
	
	s|RadioButton
	{
		height: 40;
		width: 40;
		eclipseLeft: 10;
		eclipseRight: 10;
		eclipseTop: 10;
		eclipseBottom: 10;
	}
	
	s|Image.bbbLogoStyle
	{
		imageSource: Embed(source="assets/res/drawable-mdpi/ic_mconf_iconballoon_72dip.png");
	}
	
	s|Image.bigbbbLogoStyle
	{
		imageSource: Embed(source="assets/res/drawable-mdpi/ic_mconf_iconballoon_144dip.png");
	}
}


@media (application-dpi: 240) {
	
	s|Application.mainshellStyle
	{
		toolBarHeight:78;
		bottomToolBarHeight:96;
	}
	
	s|View.participantsViewStyle
	{
		toolBarHeight:78;
		itemPaddingLeft:9;
		itemPaddingRight:9;
	}
	
	s|Button.recordingStatusIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_fiber_manual_record_black_48dip.png");
	}
	
	s|Button.videoAudioSettingStyle
	{
		height: 96;
		weight: 0.15;
		radiusX:3;
		radiusY:3;
		imageAlign:15;
		labelPaddingLeft:9;
	}
	
	s|Button.pushToTalkStyle
	{
		EllipseHeight: 144;
		EllipseWidth: 144;
		bottomToolBarHeight:96;
	}
	
	s|Label.cameraSettingStyle,s|Label.audioSettingStyle, s|ItemRenderer.cameraItemRenderer
	{
		paddingTop:24;
		paddingBottom:24;
	}
	
	s|Label.userSettingsStyle
	{
		paddingLeft:9;
		paddingTop:18;
		paddingBottom:18;
	}
	
	s|Label.chatNameTimeStyle
	{
		paddingLeft:9;
		paddingRight:9;
		paddingBottom:4.5;
		paddingTop:4.5;
	}
	
	s|RichEditableText.msgTextStyle
	{
		paddingLeft:18;
		paddingRight:18;
		paddingBottom:18;
	}
	
	s|Label.disconnectMsgStyle
	{
		paddingBottom: 60;
		paddingTop:60;
	}
	s|Button.allowButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_thumb_up_black_32dip.png");
	}
	
	s|Button.denyButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_thumb_down_black_32dip.png");
	}
	
	s|Button.cameraSettingsStartButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_videocam_black_32dip.png");
	}
	
	s|Button.cameraSettingsRotateButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_rotate_right_black_32dip.png");
	}
	
	s|Button.cameraSettingsSwapButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_switch_video_black_32dip.png");
	}
	
	s|View.cameraSettingsViewStyle
	{
		lineWeight: 3;
		topPadding: 36;
		weight:0.15;
	}
	
	s|Label.chatRoomLabelStyle,s|Label.selectParticipantLabelStyle, s|Label.RoomLabelStyle, s|Label.selectParticipantLabelStyle
	{
		paddingLeft:9;
		paddingTop:30;
		paddingBottom:30;
	}
	
	s|TextInput.msgInputBoxStyle
	{
		paddingRight:60;
	}
	
	s|Button.sendButtonStyle
	{
		topAlign:3;
		bottomAlign:3;
		rightAlign:3;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_send_black_32dip.png");
	}
	
	s|Label.pageNameStyle
	{
		fontSize:27;
	}
	
	s|Button.topButtonStyle
	{
		width: 72;
		height: 72;
	}
	
	.contentFontSize
	{
		fontSize:24;
	}
	
	.subContentFontSize
	{
		fontSize:21;
	}
	
	.dateAndTimeFontSize
	{
		fontSize:18;
	}
	
	s|ItemRenderer.participantItemStyle, s|ItemRenderer.roomItemStyle
	{
		itemHeight:96;
		lineColor: #F2F2F2;
		lineWeight:0.75;
		itemPaddingLeft:9;
		itemPaddingRight:9;
	}
	
	s|ItemRenderer.cameraProfileItemStyle
	{
		itemHeight:72;
		lineColor: #F2F2F2;
		lineWeight:0.75;
		itemPaddingLeft:9;
		itemPaddingRight:9;
	}
	
	s|ItemRenderer.chatRoomItemStyle, s|View.lockSettingsStyle, s|View.audioSettingsStyle, s|Button.videoAudioSettingStyle
	{
		lineColor: #F2F2F2;
		lineWeight:0.75;
	}
	
	s|Group.videoTextFieldStyle
	{
		fontSize:15;
		indent: 30;
		loadingImageSource: "assets/res/drawable-hdpi/videoLoading.png";
	}
	
	s|Button.userSettingsButtonStyle
	{
		height: 75; 
		weight: 0.15;
		radiusX:3;
		radiusY:3;
	}
	
	s|View.chatViewStyle
	{
		chatInputTextHeight:72;
		btnWidth:60;
	}
	
	s|SkinnableContainer.containerStyle
	{
		weight: 0.15;
		radiusX: 6;
		radiusY: 6;
		top: 8;
		bottom: 8;
	}
	
	s|Label.userDetailsNameStyle
	{
		paddingTop: 30;
		paddingBottom:0;
	}
	
	s|Label.userDetailsStatusStyle
	{
		paddingTop: 0;
		paddingBottom:30;
	}
	
	s|Button.profileSettingsButtonStyle
	{
		navigateImage: Embed(source="assets/res/drawable-hdpi/ic_keyboard_arrow_right_black_32dip.png");
	}
	
	s|Button.cameraSettingsButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_videocam_black_32dip.png");
	}
	
	s|Button.audioSettingsButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_mic_none_black_32dip.png");
	}
	
	s|Button.audioSettingsShareMicButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_mic_none_black_32dip.png");
	}
	
	s|Button.chatButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_question_answer_black_32dip.png");
	}
	
	s|Button.MuteButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_mic_off_black_32dip.png");
	}
	
	s|Button.QuitButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_exit_to_app_black_32dip.png");
	}
	
	s|Button.lockParticipantsButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_lock_outline_black_32dip.png");
	}
	
	s|Button.changeStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_sentiment_satisfied_black_32dip.png");
	}
	
	s|Button.clearButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_close_black_32dip.png");
	}
	
	s|Button.lowerAllHandsButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_pan_tool_black_32dip.png");
	}
	
	s|Button.raiseHandButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_pan_tool_black_32dip.png");
	}
	
	s|Button.audioSettingsListenOnlyButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_volume_up_black_32dip.png");
	}
	
	ui|NavigationButton
	{
		strokeWeight: 0.15;
	}
	
	ui|NavigationButton.presentationBtnStyle
	{	
		backgroundImage: Embed(source="assets/res/drawable-hdpi/1477445563_device-board-presentation-content-chart-glyph_32dip.png");	
	}
	
	ui|NavigationButton.chatBtnStyle
	{	
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_question_answer_black_32dip.png");
	}
	
	ui|NavigationButton.videochatBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_videocam_black_32dip.png");
	}
	
	ui|NavigationButton.participantsBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_supervisor_account_black_32dip.png");	
	}
	
	ui|NavigationButton.deskshareBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_desktop_windows_black_32dip.png");
	}
	
	s|Button.profileButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_settings_black_48dip.png");
	}
	
	s|Button.backButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_keyboard_arrow_left_black_48dip.png");
	}
	
	s|Button.micButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_mic_black_48dip.png");
		mutedBackgroundImage: Embed(source="assets/res/drawable-hdpi/ic_mic_off_black_48dip.png");
	}
	
	s|Button.videoButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_videocam_black_48dip.png");
	}
	
	s|Image.iconStyle
	{
		width: 48;
		height: 48;
	}
	
	s|Image.cameraIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_videocam_black_32dip.png");
	}
	
	s|Image.userDetailIconStyle
	{
		width: 96;
		height: 96;
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_account_circle_black_72dip.png");
	}
	
	s|Image.micIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_mic_none_black_32dip.png");
	}
	
	s|Image.speakingMicIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_mic_black_32dip.png");
	}
	
	s|Image.lockIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_lock_outline_black_32dip.png");
	}
	
	s|Image.micOffIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_mic_off_black_32dip.png");
	}
	
	s|Image.listenOnlyIconStyle, s|Button.listenOnlyStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_hearing_black_32dip.png");
	}
	
	s|Image.soundIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_volume_up_black_32dip.png");
	}
	
	s|Image.moderatorIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_supervisor_account_black_32dip.png");
	}
	
	s|Image.presentationIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/1477445563_device-board-presentation-content-chart-glyph_32dip.png");
	}
	
	s|Image.agreeIconStyle, s|Button.agreeStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_thumb_up_black_32dip.png");
	}
	
	s|Image.handIconStyle, s|Button.handStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_pan_tool_black_32dip.png");
	}
	
	s|Image.disagreeIconStyle, s|Button.disagreeStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_thumb_down_black_32dip.png");
	}
	
	s|Image.speakLouderIconStyle, s|Button.speakLouderStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_volume_up_black_32dip.png");
	}
	
	s|Image.speakSofterIconStyle, s|Button.speakSofterStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_volume_down_black_32dip.png");
	}
	
	s|Image.speakFasterIconStyle, s|Button.speakFasterStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_fast_forward_black_32dip.png");
	}
	
	s|Image.speakSlowerIconStyle, s|Button.speakSlowerStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_fast_rewind_black_32dip.png");
	}
	
	s|Image.beRightBackIconStyle, s|Button.beRightBackStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_access_time_black_32dip.png");
	}
	
	s|Image.laughterIconStyle, s|Button.laughterStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_sentiment_satisfied_black_32dip.png");
	}
	
	s|Image.sadIconStyle, s|Button.sadStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_sentiment_dissatisfied_black_32dip.png");
	}
	
	s|Image.userIconStyle, s|Button.noStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_account_circle_black_32dip.png");
	}
	
	s|Image.arrowRightStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-hdpi/ic_keyboard_arrow_right_black_32dip.png");
	}
	
	s|Button.newMessagesButtonStyle
	{
		width: 45;
		height: 45;
		radiusX: 6;
		radiusY: 6;
		fontSize:18;
	}
	
	s|RadioButton
	{
		height: 60;
		width: 60;
		eclipseLeft: 15;
		eclipseRight: 15;
		eclipseTop: 15;
		eclipseBottom: 15;
	}
	
	s|Image.bbbLogoStyle
	{
		imageSource: Embed(source="assets/res/drawable-hdpi/ic_mconf_iconballoon_72dip.png");
	}
	
	s|Image.bigbbbLogoStyle
	{
		imageSource: Embed(source="assets/res/drawable-hdpi/ic_mconf_iconballoon_144dip.png");
	}
}

@media (application-dpi: 320) {
	
	s|Application.mainshellStyle
	{
		toolBarHeight:104;
		bottomToolBarHeight:128;
	}
	
	s|View.participantsViewStyle
	{
		toolBarHeight:104;
		itemPaddingLeft:12;
		itemPaddingRight:12;
	}
	
	s|Button.recordingStatusIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_fiber_manual_record_black_48dip.png");
	}
	
	s|Button.videoAudioSettingStyle
	{
		height: 128;
		weight: 0.2;
		radiusX:4;
		radiusY:4;
		imageAlign:20;
		labelPaddingLeft:12;
	}
	
	s|Button.pushToTalkStyle
	{
		EllipseHeight: 192;
		EllipseWidth: 192;
		bottomToolBarHeight:128;
	}
	
	s|Label.cameraSettingStyle,s|Label.audioSettingStyle, s|ItemRenderer.cameraItemRenderer
	{
		paddingTop:32;
		paddingBottom:32;
	}
	
	s|Label.userSettingsStyle
	{
		paddingLeft:12;
		paddingTop:24;
		paddingBottom:24;
	}
	
	s|Label.chatNameTimeStyle
	{
		paddingLeft:12;
		paddingRight:12;
		paddingBottom:6;
		paddingTop:6;
	}
	
	s|RichEditableText.msgTextStyle
	{
		paddingLeft:24;
		paddingRight:24;
		paddingBottom:24;
	}
	
	s|Label.disconnectMsgStyle
	{
		paddingBottom: 80;
		paddingTop:80;
	}
	
	s|Label.chatRoomLabelStyle,s|Label.selectParticipantLabelStyle, s|Label.RoomLabelStyle, s|Label.selectParticipantLabelStyle
	{
		paddingLeft:12;
		paddingTop:40;
		paddingBottom:40;
	}
	
	s|TextInput.msgInputBoxStyle
	{
		paddingRight:80;
	}
	
	s|Button.allowButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_thumb_up_black_32dip.png");
	}
	
	s|Button.denyButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_thumb_down_black_32dip.png");
	}
	
	s|Button.cameraSettingsStartButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_videocam_black_32dip.png");
	}
	
	s|Button.cameraSettingsRotateButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_rotate_right_black_32dip.png");
	}
	
	s|Button.cameraSettingsSwapButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_switch_video_black_32dip.png");
	}
	
	s|View.cameraSettingsViewStyle
	{
		lineWeight: 4;
		topPadding: 48;
		weight:0.2;
	}
	
	s|Button.sendButtonStyle
	{
		topAlign:4;
		bottomAlign:4;
		rightAlign:4;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_send_black_32dip.png");
	}
	
	s|Label.pageNameStyle
	{
		fontSize:36;
	}
	
	s|Button.topButtonStyle
	{
		width: 96;
		height: 96;
	}
	
	.contentFontSize
	{
		fontSize:32;
	}
	
	.subContentFontSize
	{
		fontSize:28;
	}
	
	.dateAndTimeFontSize
	{
		fontSize:24;
	}
	
	s|ItemRenderer.participantItemStyle, s|ItemRenderer.roomItemStyle
	{
		itemHeight:128;
		lineColor: #F2F2F2;
		lineWeight:1;
		itemPaddingLeft:12;
		itemPaddingRight:12;
	}
	
	s|ItemRenderer.cameraProfileItemStyle
	{
		itemHeight:96;
		lineColor: #F2F2F2;
		lineWeight:1;
		itemPaddingLeft:12;
		itemPaddingRight:12;
	}
	
	s|ItemRenderer.chatRoomItemStyle, s|View.lockSettingsStyle, s|View.audioSettingsStyle, s|Button.videoAudioSettingStyle
	{
		lineColor: #F2F2F2;
		lineWeight:1;
	}
	
	s|Group.videoTextFieldStyle
	{
		fontSize:20;
		indent: 40;
		loadingImageSource: "assets/res/drawable-xhdpi/videoLoading.png";
	}
	
	s|View.chatViewStyle
	{
		chatInputTextHeight:96;
		btnWidth:80;
	}
	
	s|Button.userSettingsButtonStyle
	{
		height: 90; 
		weight: 0.2;
		radiusX:4;
		radiusY:4;
	}
	
	s|SkinnableContainer.containerStyle
	{
		weight: 0.2;
		radiusX: 8;
		radiusY: 8;
		top: 10;
		bottom: 10;
	}
	
	s|Label.userDetailsNameStyle
	{
		paddingTop: 40;
		paddingBottom:0;
	}
	
	s|Label.userDetailsStatusStyle
	{
		paddingTop: 0;
		paddingBottom:40;
	}
	
	s|Button.profileSettingsButtonStyle
	{
		navigateImage: Embed(source="assets/res/drawable-xhdpi/ic_keyboard_arrow_right_black_32dip.png");
	}
	
	s|Button.cameraSettingsButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_videocam_black_32dip.png");
	}
	
	s|Button.audioSettingsButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_mic_none_black_32dip.png");
	}
	
	s|Button.audioSettingsShareMicButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_mic_none_black_32dip.png");
	}
	
	s|Button.chatButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_question_answer_black_32dip.png");
	}
	
	s|Button.MuteButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_mic_off_black_32dip.png");
	}
	
	s|Button.QuitButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_exit_to_app_black_32dip.png");
	}
	
	s|Button.lockParticipantsButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_lock_outline_black_32dip.png");
	}
	
	s|Button.changeStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_sentiment_satisfied_black_32dip.png");
	}
	
	s|Button.clearButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_close_black_32dip.png");
	}
	
	s|Button.lowerAllHandsButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_pan_tool_black_32dip.png");
	}
	
	s|Button.raiseHandButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_pan_tool_black_32dip.png");
	}
	
	s|Button.audioSettingsListenOnlyButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_volume_up_black_32dip.png");
	}
	
	ui|NavigationButton
	{
		strokeWeight: 0.2;
	}
	
	ui|NavigationButton.presentationBtnStyle
	{	
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/1477445563_device-board-presentation-content-chart-glyph_32dip.png");	
	}
	
	ui|NavigationButton.chatBtnStyle
	{	
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_question_answer_black_32dip.png");
	}
	
	ui|NavigationButton.videochatBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_videocam_black_32dip.png");
	}
	
	ui|NavigationButton.participantsBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_supervisor_account_black_32dip.png");	
	}
	
	ui|NavigationButton.deskshareBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_desktop_windows_black_32dip.png");
	}

	s|Button.profileButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_settings_black_48dip.png");
	}
	
	s|Button.backButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_keyboard_arrow_left_black_48dip.png");
	}
	
	s|Button.micButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_mic_black_48dip.png");
		mutedBackgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_mic_off_black_48dip.png");
	}
	
	s|Button.videoButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_videocam_black_48dip.png");
	}
	
	s|Image.iconStyle
	{
		width: 64;
		height: 64;
	}
	
	s|Image.cameraIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_videocam_black_32dip.png");
	}
	
	s|Image.userDetailIconStyle
	{
		width: 144;
		height: 144;
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_account_circle_black_72dip.png");
	}
	
	s|Image.micIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_mic_none_black_32dip.png");
	}
	
	s|Image.speakingMicIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_mic_black_32dip.png");
	}
	
	s|Image.lockIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_lock_outline_black_32dip.png");
	}
	
	s|Image.micOffIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_mic_off_black_32dip.png");
	}
	
	s|Image.listenOnlyIconStyle, s|Button.listenOnlyStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_hearing_black_32dip.png");
	}
	
	s|Image.soundIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_volume_up_black_32dip.png");
	}
	
	s|Image.moderatorIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_supervisor_account_black_32dip.png");
	}
	
	s|Image.presentationIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/1477445563_device-board-presentation-content-chart-glyph_32dip.png");
	}
	
	s|Image.agreeIconStyle, s|Button.agreeStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_thumb_up_black_32dip.png");
	}
	
	s|Image.handIconStyle, s|Button.handStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_pan_tool_black_32dip.png");
	}
	
	s|Image.disagreeIconStyle, s|Button.disagreeStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_thumb_down_black_32dip.png");
	}
	
	s|Image.speakLouderIconStyle, s|Button.speakLouderStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_volume_up_black_32dip.png");
	}
	
	s|Image.speakSofterIconStyle, s|Button.speakSofterStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_volume_down_black_32dip.png");
	}
	
	s|Image.speakFasterIconStyle, s|Button.speakFasterStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_fast_forward_black_32dip.png");
	}
	
	s|Image.speakSlowerIconStyle, s|Button.speakSlowerStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_fast_rewind_black_32dip.png");
	}
	
	s|Image.beRightBackIconStyle, s|Button.beRightBackStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_access_time_black_32dip.png");
	}
	
	s|Image.laughterIconStyle, s|Button.laughterStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_sentiment_satisfied_black_32dip.png");
	}
	
	s|Image.sadIconStyle, s|Button.sadStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_sentiment_dissatisfied_black_32dip.png");
	}
	
	s|Image.userIconStyle, s|Button.noStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_account_circle_black_32dip.png");
	}
	
	s|Image.arrowRightStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xhdpi/ic_keyboard_arrow_right_black_32dip.png");
	}
	
	s|Button.newMessagesButtonStyle
	{
		width: 50;
		height: 40;
		radiusX: 8;
		radiusY: 8;
		fontSize:24;
	}
	
	s|RadioButton
	{
		height: 80;
		width: 80;
		eclipseLeft: 20;
		eclipseRight: 20;
		eclipseTop: 20;
		eclipseBottom: 20;
	}
	
	s|Image.bbbLogoStyle
	{
		imageSource: Embed(source="assets/res/drawable-xhdpi/ic_mconf_iconballoon_72dip.png");
	}
	
	s|Image.bigbbbLogoStyle
	{
		imageSource: Embed(source="assets/res/drawable-xhdpi/ic_mconf_iconballoon_144dip.png");
	}
}

@media (application-dpi: 480) {
	
	s|Application.mainshellStyle
	{
		toolBarHeight:156;
		bottomToolBarHeight:144;
	}
	
	s|View.participantsViewStyle
	{
		toolBarHeight:156;
		itemPaddingLeft:18;
		itemPaddingRight:18;
	}
	
	s|Button.recordingStatusIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_fiber_manual_record_black_48dip.png");
	}
	
	s|Button.videoAudioSettingStyle
	{
		height: 144;
		weight: 0.3;
		radiusX:6;
		radiusY:6;
		imageAlign:30;
		labelPaddingLeft:18;
	}
	
	s|Button.pushToTalkStyle
	{
		EllipseHeight: 230;
		EllipseWidth: 230;
		bottomToolBarHeight:144;
	}
	
	s|Label.cameraSettingStyle,s|Label.audioSettingStyle, s|ItemRenderer.cameraItemRenderer
	{
		paddingTop:48;
		paddingBottom:48;
	}
	
	s|Label.userSettingsStyle
	{
		paddingLeft:18;
		paddingTop:36;
		paddingBottom:36;
	}
	
	s|Label.chatNameTimeStyle
	{
		paddingLeft:18;
		paddingRight:18;
		paddingBottom:9;
		paddingTop:9;
	}
	
	s|RichEditableText.msgTextStyle
	{
		paddingLeft:36;
		paddingRight:36;
		paddingBottom:36;
	}
	
	s|Label.disconnectMsgStyle
	{
		paddingBottom: 120;
		paddingTop:120;
	}
	
	s|Label.chatRoomLabelStyle,s|Label.selectParticipantLabelStyle,s|Label.RoomLabelStyle
	{
		paddingLeft:18;
		paddingTop:60;
		paddingBottom:60;
	}
	
	s|TextInput.msgInputBoxStyle
	{
		paddingRight:120;
	}
	
	s|Button.sendButtonStyle
	{
		topAlign:6;
		bottomAlign:6;
		rightAlign:6;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_send_black_32dip.png");
	}
	
	s|Button.allowButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_thumb_up_black_32dip.png");
	}
	
	s|Button.denyButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_thumb_down_black_32dip.png");
	}
	
	s|Button.cameraSettingsStartButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_videocam_black_32dip.png");
	}
	
	s|Button.cameraSettingsRotateButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_rotate_right_black_32dip.png");
	}
	
	s|Button.cameraSettingsSwapButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_switch_video_black_32dip.png");
	}
	
	s|View.cameraSettingsViewStyle
	{
		lineWeight: 6;
		topPadding: 72;
		weight:0.3;
	}
	
	s|Label.pageNameStyle
	{
		fontSize:54;
	}
	
	.contentFontSize
	{
		fontSize:48;
	}
	
	.subContentFontSize
	{
		fontSize:42;
	}
	
	.dateAndTimeFontSize
	{
		fontSize:36;
	}
	
	s|ItemRenderer.participantItemStyle, s|ItemRenderer.roomItemStyle
	{
		itemHeight:192;
		lineColor: #F2F2F2;
		lineWeight:1.5;
		itemPaddingLeft:18;
		itemPaddingRight:18;
	}
	
	s|ItemRenderer.cameraProfileItemStyle
	{
		itemHeight:144;
		lineColor: #F2F2F2;
		lineWeight:1.5;
		itemPaddingLeft:18;
		itemPaddingRight:18;
	}
	
	
	s|ItemRenderer.chatRoomItemStyle, s|View.lockSettingsStyle, s|View.audioSettingsStyle, s|Button.videoAudioSettingStyle
	{
		lineColor: #F2F2F2;
		lineWeight:1.5;
	}
	
	s|Group.videoTextFieldStyle
	{
		fontSize:30;
		indent: 60;
		loadingImageSource: "assets/res/drawable-xxhdpi/videoLoading.png";
	}
	
	s|View.chatViewStyle
	{
		chatInputTextHeight:144;
		btnWidth:120;
	}
	
	s|SkinnableContainer.containerStyle
	{
		weight: 0.3;
		radiusX: 12;
		radiusY: 12;
		top: 15;
		bottom: 15;
	}
	
	s|Label.userDetailsNameStyle
	{
		paddingTop: 60;
		paddingBottom:0;
	}
	
	s|Label.userDetailsStatusStyle
	{
		paddingTop: 0;
		paddingBottom:60;
	}
	
	ui|NavigationButton
	{
		strokeWeight: 0.3;
	}
	
	ui|NavigationButton.presentationBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/1477445563_device-board-presentation-content-chart-glyph_32dip.png");	
	}
	
	ui|NavigationButton.chatBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_question_answer_black_32dip.png");
	}
	
	ui|NavigationButton.videochatBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_videocam_black_32dip.png");
	}
	
	ui|NavigationButton.participantsBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_supervisor_account_black_32dip.png");		
	}
	
	ui|NavigationButton.deskshareBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_desktop_windows_black_32dip.png");
	}
	
	s|Button.userSettingsButtonStyle
	{
		height: 150; 
		weight: 0.3;
		radiusX:6;
		radiusY:6;
	}
	
	s|Button.profileSettingsButtonStyle
	{
		navigateImage: Embed(source="assets/res/drawable-xxhdpi/ic_keyboard_arrow_right_black_32dip.png");
	}
	
	s|Button.cameraSettingsButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_videocam_black_32dip.png");
	}
	
	s|Button.audioSettingsButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_mic_none_black_32dip.png");
	}
	
	s|Button.audioSettingsShareMicButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_mic_none_black_32dip.png");
	}
	
	s|Button.chatButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_question_answer_black_32dip.png");
	}
	
	s|Button.MuteButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_mic_off_black_32dip.png");
	}
	
	s|Button.QuitButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_exit_to_app_black_32dip.png");
	}
	
	
	s|Button.lockParticipantsButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_lock_outline_black_32dip.png");
	}
	
	s|Button.changeStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_sentiment_satisfied_black_32dip.png");
	}
	
	s|Button.clearButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_close_black_32dip.png");
	}
	
	s|Button.lowerAllHandsButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_pan_tool_black_32dip.png");
	}
	
	s|Button.raiseHandButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_pan_tool_black_32dip.png");
	}
	
	s|Button.audioSettingsListenOnlyButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_volume_up_black_32dip.png");
	}
	
	s|Button.topButtonStyle
	{
		width: 144;
		height: 144;
	}
	
	s|Button.profileButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_settings_black_48dip.png");
	}
	
	s|Button.backButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_keyboard_arrow_left_black_48dip.png");
	}
	
	s|Button.micButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_mic_black_48dip.png");
		mutedBackgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_mic_off_black_48dip.png");
	}
	
	s|Button.videoButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_videocam_black_48dip.png");
	}
	
	s|Image.iconStyle
	{
		width: 96;
		height: 96;
	}
	
	s|Image.cameraIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_videocam_black_32dip.png");
	}
	
	s|Image.userDetailIconStyle
	{
		width: 192;
		height: 192;
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_account_circle_black_72dip.png");
	}
	
	s|Image.micIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_mic_none_black_32dip.png");
	}
	
	s|Image.speakingMicIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_mic_black_32dip.png");
	}
	
	s|Image.lockIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_lock_outline_black_32dip.png");
	}
	
	s|Image.micOffIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_mic_off_black_32dip.png");
	}
	
	s|Image.listenOnlyIconStyle, s|Button.listenOnlyStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_hearing_black_32dip.png");
	}
	
	s|Image.soundIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_volume_up_black_32dip.png");
	}
	
	s|Image.moderatorIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_supervisor_account_black_32dip.png");
	}
	
	s|Image.presentationIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/1477445563_device-board-presentation-content-chart-glyph_32dip.png");
	}
	
	s|Image.agreeIconStyle, s|Button.agreeStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_thumb_up_black_32dip.png");
	}
	
	s|Image.handIconStyle, s|Button.handStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_pan_tool_black_32dip.png");
	}
	
	s|Image.disagreeIconStyle, s|Button.disagreeStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_thumb_down_black_32dip.png");
	}
	
	s|Image.speakLouderIconStyle, s|Button.speakLouderStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_volume_up_black_32dip.png");
	}
	
	s|Image.speakSofterIconStyle, s|Button.speakSofterStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_volume_down_black_32dip.png");
	}
	
	s|Image.speakFasterIconStyle, s|Button.speakFasterStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_fast_forward_black_32dip.png");
	}
	
	s|Image.speakSlowerIconStyle, s|Button.speakSlowerStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_fast_rewind_black_32dip.png");
	}
		
	s|Image.beRightBackIconStyle, s|Button.beRightBackStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_access_time_black_32dip.png");
	}
	
	s|Image.laughterIconStyle, s|Button.laughterStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_sentiment_satisfied_black_32dip.png");
	}
	
	s|Image.sadIconStyle, s|Button.sadStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_sentiment_dissatisfied_black_32dip.png");
	}
	
	s|Image.userIconStyle, s|Button.noStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_account_circle_black_32dip.png");
	}
	
	s|Image.arrowRightStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxhdpi/ic_keyboard_arrow_right_black_32dip.png");
	}
	
	s|Button.newMessagesButtonStyle
	{
		width: 75;
		height: 60;
		radiusX: 12;
		radiusY: 12;
		fontSize:36;
	}
	
	s|Image.bbbLogoStyle
	{
		imageSource: Embed(source="assets/res/drawable-xxhdpi/ic_mconf_iconballoon_72dip.png");
	}
	
	s|Image.bigbbbLogoStyle
	{
		imageSource: Embed(source="assets/res/drawable-xxhdpi/ic_mconf_iconballoon_144dip.png");
	}
	
	s|RadioButton
	{
		height: 120;
		width: 120;
		eclipseLeft: 30;
		eclipseRight: 30;
		eclipseTop: 30;
		eclipseBottom: 30;
	}
}

@media (application-dpi: 640) {
	s|Application.mainshellStyle
	{
		toolBarHeight:208;
		bottomToolBarHeight:256;
	}
	
	s|View.participantsViewStyle
	{
		toolBarHeight:208;
		itemPaddingLeft:24;
		itemPaddingRight:24;
	}
	
	s|Button.recordingStatusIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_fiber_manual_record_black_48dip.png");
	}
	
	s|Button.videoAudioSettingStyle
	{
		height: 256;
		weight: 0.4;
		radiusX:8;
		radiusY:8;
		imageAlign:40;
		labelPaddingLeft:24;
	}
	
	s|Button.pushToTalkStyle
	{
		EllipseHeight: 384;
		EllipseWidth: 384;
		bottomToolBarHeight:256;
	}
	
	s|Label.cameraSettingStyle,s|Label.audioSettingStyle, s|ItemRenderer.cameraItemRenderer
	{
		paddingTop:64;
		paddingBottom:64;
	}
	
	s|Label.userSettingsStyle
	{
		paddingLeft:24;
		paddingTop:48;
		paddingBottom:48;
	}
	
	s|Label.chatNameTimeStyle
	{
		paddingLeft:24;
		paddingRight:24;
		paddingBottom:12;
		paddingTop:12;
	}
	
	s|RichEditableText.msgTextStyle
	{
		paddingLeft:48;
		paddingRight:48;
		paddingBottom:48;
	}
	
	s|Label.disconnectMsgStyle
	{
		paddingBottom:160;
		paddingTop:160;
	}
	
	s|Label.chatRoomLabelStyle,s|Label.selectParticipantLabelStyle, s|Label.RoomLabelStyle, s|Label.selectParticipantLabelStyle
	{
		paddingLeft:24;
		paddingTop:80;
		paddingBottom:80;
	}
	
	s|TextInput.msgInputBoxStyle
	{
		paddingRight:160;
	}
	
	s|Button.allowButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_thumb_up_black_32dip.png");
	}
	
	s|Button.denyButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_thumb_down_black_32dip.png");
	}
	
	s|Button.cameraSettingsStartButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_videocam_black_32dip.png");
	}
	
	s|Button.cameraSettingsRotateButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_rotate_right_black_32dip.png");
	}
	
	s|Button.cameraSettingsSwapButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_switch_video_black_32dip.png");
	}
	
	s|View.cameraSettingsViewStyle
	{
		lineWeight: 8;
		topPadding: 96;
		weight:0.4;
	}
	
	s|Button.sendButtonStyle
	{
		topAlign:8;
		bottomAlign:8;
		rightAlign:8;
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_send_black_32dip.png");
	}
	
	s|Label.pageNameStyle
	{
		fontSize:72;
	}
	
	s|Button.topButtonStyle
	{
		width: 192;
		height: 192;
	}
	
	.contentFontSize
	{
		fontSize:64;
	}
	
	.subContentFontSize
	{
		fontSize:56;
	}
	
	.dateAndTimeFontSize
	{
		fontSize:48;
	}
	
	s|ItemRenderer.participantItemStyle, s|ItemRenderer.roomItemStyle
	{
		itemHeight:256;
		lineColor: #F2F2F2;
		lineWeight:2;
		itemPaddingLeft:24;
		itemPaddingRight:24;
	}
	
	s|ItemRenderer.cameraProfileItemStyle
	{
		itemHeight:192;
		lineColor: #F2F2F2;
		lineWeight:2;
		itemPaddingLeft:24;
		itemPaddingRight:24;
	}
	
	s|ItemRenderer.chatRoomItemStyle, s|View.lockSettingsStyle, s|View.audioSettingsStyle, s|Button.videoAudioSettingStyle
	{
		lineColor: #F2F2F2;
		lineWeight:2;
	}
	
	s|Group.videoTextFieldStyle
	{
		fontSize:40;
		indent: 80;
		loadingImageSource: "assets/res/drawable-xxxhdpi/videoLoading.png";
	}
	
	s|View.chatViewStyle
	{
		chatInputTextHeight:192;
		btnWidth:160;
	}
	
	s|Button.userSettingsButtonStyle
	{
		height: 180; 
		weight: 0.4;
		radiusX:8;
		radiusY:8;
	}
	
	s|SkinnableContainer.containerStyle
	{
		weight: 0.4;
		radiusX: 16;
		radiusY: 16;
		top: 20;
		bottom: 20;
	}
	
	s|Label.userDetailsNameStyle
	{
		paddingTop: 80;
		paddingBottom:0;
	}
	
	s|Label.userDetailsStatusStyle
	{
		paddingTop: 0;
		paddingBottom:80;
	}
	
	s|Button.profileSettingsButtonStyle
	{
		navigateImage: Embed(source="assets/res/drawable-xxxhdpi/ic_keyboard_arrow_right_black_32dip.png");
	}
	
	s|Button.cameraSettingsButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_videocam_black_32dip.png");
	}
	
	s|Button.audioSettingsButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_mic_none_black_32dip.png");
	}
	
	s|Button.audioSettingsShareMicButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_mic_none_black_32dip.png");
	}
	
	s|Button.chatButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_question_answer_black_32dip.png");
	}
	
	s|Button.MuteButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_mic_off_black_32dip.png");
	}
	
	s|Button.QuitButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_exit_to_app_black_32dip.png");
	}
	
	s|Button.lockParticipantsButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_lock_outline_black_32dip.png");
	}
	
	s|Button.changeStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_sentiment_satisfied_black_32dip.png");
	}
	
	s|Button.clearButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_close_black_32dip.png");
	}
	
	s|Button.lowerAllHandsButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_pan_tool_black_32dip.png");
	}
	
	s|Button.raiseHandButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_pan_tool_black_32dip.png");
	}
	
	s|Button.audioSettingsListenOnlyButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_volume_up_black_32dip.png");
	}
	
	ui|NavigationButton
	{
		strokeWeight: 0.4;
	}
	
	ui|NavigationButton.presentationBtnStyle
	{	
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/1477445563_device-board-presentation-content-chart-glyph_32dip.png");	
	}
	
	ui|NavigationButton.chatBtnStyle
	{	
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_question_answer_black_32dip.png");
	}
	
	ui|NavigationButton.videochatBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_videocam_black_32dip.png");
	}
	
	ui|NavigationButton.participantsBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_supervisor_account_black_32dip.png");	
	}
	
	ui|NavigationButton.deskshareBtnStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_desktop_windows_black_32dip.png");
	}
	
	s|Button.profileButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_settings_black_48dip.png");
	}
	
	s|Button.backButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_keyboard_arrow_left_black_48dip.png");
	}
	
	s|Button.micButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_mic_black_48dip.png");
		mutedBackgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_mic_off_black_48dip.png");
	}
	
	s|Button.videoButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_videocam_black_48dip.png");
	}
	
	s|Image.iconStyle
	{
		width: 128;
		height: 128;
	}
	
	s|Image.cameraIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_videocam_black_32dip.png");
	}
	
	s|Image.userDetailIconStyle
	{
		width: 288;
		height: 288;
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_account_circle_black_72dip.png");
	}
	
	s|Image.micIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_mic_none_black_32dip.png");
	}
	
	s|Image.speakingMicIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_mic_black_32dip.png");
	}
	
	s|Image.lockIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_lock_outline_black_32dip.png");
	}
	
	s|Image.micOffIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_mic_off_black_32dip.png");
	}
	
	s|Image.listenOnlyIconStyle, s|Button.listenOnlyStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_hearing_black_32dip.png");
	}
	
	s|Image.soundIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_volume_up_black_32dip.png");
	}
	
	s|Image.moderatorIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_supervisor_account_black_32dip.png");
	}
	
	s|Image.presentationIconStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/1477445563_device-board-presentation-content-chart-glyph_32dip.png");
	}
	
	s|Image.agreeIconStyle, s|Button.agreeStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_thumb_up_black_32dip.png");
	}
	
	s|Image.handIconStyle, s|Button.handStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_pan_tool_black_32dip.png");
	}
	
	s|Image.disagreeIconStyle, s|Button.disagreeStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_thumb_down_black_32dip.png");
	}
	
	s|Image.speakLouderIconStyle, s|Button.speakLouderStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_volume_up_black_32dip.png");
	}
	
	s|Image.speakSofterIconStyle, s|Button.speakSofterStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_volume_down_black_32dip.png");
	}
	
	s|Image.speakFasterIconStyle, s|Button.speakFasterStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_fast_forward_black_32dip.png");
	}
	
	s|Image.speakSlowerIconStyle, s|Button.speakSlowerStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_fast_rewind_black_32dip.png");
	}
	
	s|Image.beRightBackIconStyle, s|Button.beRightBackStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_access_time_black_32dip.png");
	}
	
	s|Image.laughterIconStyle, s|Button.laughterStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_sentiment_satisfied_black_32dip.png");
	}
	
	s|Image.sadIconStyle, s|Button.sadStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_sentiment_dissatisfied_black_32dip.png");
	}
	
	s|Image.userIconStyle, s|Button.noStatusButtonStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_account_circle_black_32dip.png");
	}
	
	s|Image.arrowRightStyle
	{
		backgroundImage: Embed(source="assets/res/drawable-xxxhdpi/ic_keyboard_arrow_right_black_32dip.png");
	}
	
	s|Button.newMessagesButtonStyle
	{
		width: 100;
		height: 80;
		radiusX: 16;
		radiusY: 16;
		fontSize:48;
	}
	
	s|RadioButton
	{
		height: 160;
		width: 160;
		eclipseLeft: 40;
		eclipseRight: 40;
		eclipseTop: 40;
		eclipseBottom: 40;
	}
	
	s|Image.bbbLogoStyle
	{
		imageSource: Embed(source="assets/res/drawable-xxxhdpi/ic_mconf_iconballoon_72dip.png");
	}
	
	s|Image.bigbbbLogoStyle
	{
		imageSource: Embed(source="assets/res/drawable-xxxhdpi/ic_mconf_iconballoon_144dip.png");
	}
}
